 /* Proposals list */

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: black !important;
  border: 1px solid white !important;
  background: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: white !important;
  border: 1px solid #7cb342 !important;
  background: #7cb342 !important;
}

select {
  display: block !important;
}

/* Proposal detail */

.detail-header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.detail-header-container span {
  margin-top: 15px;
}

.description-container {
  margin-top: 20px;
}

.goals-container {
  margin-top: 20px;
}

.goals-container .goals-title {
  font-size: 16px;
}

.secondary-content {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondary-content span {
  margin: 0 !important;
}

div.separator-arrow {
  font-size: 10px !important;
  color: darkgray !important;
  height: 22px;
}