<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="title" type="text" class="validate">
                <label for="title">T&iacute;tol</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" class="materialize-textarea"></textarea>
                <label for="description">Escriu la descripció</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="goal" class="materialize-textarea" oninput="updateAddButton()"></textarea>
                <label for="goal">Escriu un objectiu</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a id="addButton" class="waves-effect waves-light btn-small light-green" style="float: right"
                   onclick="addGoal()" disabled="true"> <i class="material-icons right">add</i>Afegir</a>
            </div>
        </div>
        <div class="row">
            <ul id="goals" class="collection"></ul>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <div class="chips chips-placeholder"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3 offset-s9">
                <button class="btn waves-effect waves-light light-green" type="submit" name="action" style="float: right;">
                    Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

<script src="/js/proposalForm.js"></script>
<script>
    (() => {
        window.formLoaded = true;
    })()
</script>